a {font-family: Roboto, "Montserrat", Arial;}

input[type=button] {
    width: 50%;  height: 1.7em;
    border-radius: 2.5px;
    border: 2px solid #808080;
  background: white;
}

input[type=text] {
    width: 100%;  height: 1.7em;
    border-radius: 5px;
    border: 2px solid #808080;
  background: white;
}

input[type=reset] {
    width: 50%;  height: 1.7em;
    border-radius: 2.5px;
    border: 2px solid #808080;
  background: white;
}

.text {
    width: 100%;  height: 1.7em;
    border-radius: 5px;
    border: 2px solid #808080;
  background: transparent
}

textarea  { width: 100%; 
           border-radius: 5px;
    border: 2px solid #808080;
          background: white;}

div.a {position:sticky;
    z-index: 0;
    top: 0;
overflow: auto;
  display: flex;
  flex-direction: column-reverse;
    left: 0;
    height:100%;
    width: 100%;
    background: transparent;}

.scroll-start-at-top {
  flex: 1 1 0%;
}
