input[type=button] {
    width: 5.25em;  height: 1.7em;
}

input[type=text] {
    width: 21em;  height: 1.7em;
}

input[type=reset] {
    width: 5.25em;  height: 1.7em;
}

.text {
    width: 21em;  height: 1.7em;
}

textarea { width: 21em;  }
